.mainContainer {
  height: 100%;
  width: 100%;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.aboutCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  width: 65%;
  margin: 1rem;
  padding: 5rem;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.aboutCardTitle {
  margin-bottom: 1rem;
}

.questionContainer {
  margin: 0.5rem;
}
