.builderContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-top: 8rem;
  margin-bottom: 0.5rem;
}

.uploadLoader {
  width: 10%;
  margin-right: 1rem;
  align-self: center;
}
