.mainContainer {
  display: flex;
  height: 100%;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  height: 100%;
  width: 16rem;
}

.rightContainer {
  margin-left: 16rem;
  flex-grow: 1;
}

.dataTableContainer {
  width: 99%;
}

.playlistTitle {
  margin-left: 2.5rem;
  margin-top: 2.5rem;
  height: 1rem;
}

@media only screen and (min-width: 550px) and (max-width: 949px),
  only screen and (min-width: 400px) and (max-width: 549px),
  only screen and (min-width: 350px) and (max-width: 399px),
  only screen and (max-width: 349px) {
}
