.indexContainer {
  height: 100%;
  width: 100%;
}

.titleContainer {
  position: relative;
  text-align: center;
  padding: 70px;
  flex-grow: 1;
}

.registerButton {
  margin: 1rem;
}

.titleImgContainer {
  width: 100%;
  margin-bottom: 2rem;
}

.contentContainer {
  display: flex;
  position: relative;
  justify-content: center;
  height: 35%;
  width: 100%;
  min-height: 500px;
  border-top: 1px solid rgb(224 224 224);
  border-bottom: 1px solid rgb(224 224 224);
}

.cardContentContainer {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1100px;
  justify-content: center;
  align-items: center;
}

.textContainer {
  width: 50%;
  margin: 0 auto;
}

.builderImgContainer {
  border: 4px solid rgb(224 224 224);
}

.spotifyLogo {
  min-width: 450px;
  min-height: 125px;
}

@media only screen and (min-width: 550px) and (max-width: 949px),
  only screen and (min-width: 400px) and (max-width: 549px),
  only screen and (min-width: 350px) and (max-width: 399px),
  only screen and (min-device-width: 320px) and (max-device-width: 480px),
  only screen and (max-width: 349px) {
  .contentContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    padding: 75px;
    text-align: center;
    min-width: 320px;
    border-top: 1px solid rgb(224 224 224);
    border-bottom: 1px solid rgb(224 224 224);
  }

  .cardContentContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1100px;
    min-width: 320px;
    justify-content: center;
    align-items: center;
  }

  .textContainer {
    margin-bottom: 2rem;
    width: 100%;
    font: 10px;
  }
}
