.mainContainer {
  height: calc(100vh - 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  justify-content: center;
  width: 25%;
  min-width: 215px;
  min-height: 20%;
  border-radius: 5px;
  background-color: #f1f1f1;
  box-shadow: 10px 5px 5px rgb(151, 151, 151);
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.newUserContainer {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.signup {
  margin-left: 0.5rem;
}

.signup:hover {
  cursor: pointer;
  text-decoration: underline;
}

.loginLoader {
  display: flex;
  justify-content: center;
}
