.logoBarContainer {
  width: 100% !important;
  height: 4rem !important;
}

.mainContainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  padding: 0.2rem;
}

.logoContainer {
  padding-left: 1rem;
}

.signInButtonContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
  flex-grow: 0.05;
}

.logo:hover {
  cursor: pointer;
}
