.mainContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.sendMessageContainer {
  justify-content: center;
  width: 35%;
  min-width: 255px;
  min-height: 20%;
  border-radius: 5px;
  background-color: #f1f1f1;
  box-shadow: 10px 5px 5px rgb(151, 151, 151);
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.loaderContainer {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.returnMsgContainer {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .sendMessageContainer {
    justify-content: center;
    height: 30%;
    width: 100%;
    box-shadow: none;
  }
}

@media only screen and (min-width: 550px) and (max-width: 949px),
  only screen and (min-width: 400px) and (max-width: 549px),
  only screen and (min-width: 350px) and (max-width: 399px),
  only screen and (max-width: 349px) {
}
