.navContainer {
  width: 100% !important;
  height: 4rem !important;
  position: sticky;
  top: 0 !important;
  border-bottom: 1px solid rgb(224 224 224);
  background-color: rgb(254, 254, 255);
}

.mainContainer {
  height: 100%;
  display: flex;
  white-space: nowrap;
  padding: 0.2rem;
}

.leftContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.logoContainer {
  margin-right: 1rem;
  margin-left: 1rem;
}

.contactContainer {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.aboutContainer {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.spotifyContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  flex-grow: 0.2;
}

.profileContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
  flex-grow: 0.05;
}

.profileName {
  margin-right: 1rem;
}

.spotifyLogo {
  height: 50px;
  width: 50px;
}

.logoContainer:hover {
  cursor: pointer;
}

.aboutLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.contactLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.menuContainer {
  display: none;
}

@media only screen and (min-width: 550px) and (max-width: 949px),
  only screen and (min-width: 400px) and (max-width: 549px),
  only screen and (min-width: 350px) and (max-width: 399px),
  only screen and (max-width: 349px) {
  .aboutContainer {
    display: none;
  }

  .contactContainer {
    display: none;
  }

  .menuContainer {
    display: block;
    position: relative;
  }
}
