.mainContainer {
  width: 100%;
  height: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.playlistName {
  width: 100%;
  margin-left: 1rem;
}

.playlistTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlistTitle:hover {
  font-weight: 600;
  cursor: pointer;
}
