.mainContainer {
  height: calc(100vh - 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerContainer {
  justify-content: center;
  width: 25%;
  min-width: 230px;
  min-height: 25%;
  border-radius: 5px;
  background-color: #f1f1f1;
  box-shadow: 10px 5px 5px rgb(151, 151, 151);
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.existingUserContainer {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.login {
  margin-left: 0.5rem;
}

.login:hover {
  cursor: pointer;
  text-decoration: underline;
}

.registerLoader {
  display: flex;
  justify-content: center;
}
