.navContainer {
  width: 100% !important;
  height: 16rem !important;
  min-height: 16rem;
  border-bottom: 1px solid rgb(224 224 224);
  border-right: 1px solid rgb(224 224 224);
}

.mainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  padding: 0.2rem;
  margin-left: 1rem;
}

.topContainer {
  margin-bottom: 0.2rem;
}

.logoContainer {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.aboutContainer {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.contactContainer {
  margin-top: 0.2rem;
}

.spotifyIcon {
  display: flex;
}

.spotifyProfileContainer {
  display: flex;
  max-width: 50%;
  flex-wrap: nowrap;
  align-items: center;
  flex-grow: 1;
  margin: auto;
}

.spotifyProfileNameContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: auto;
}

.spotifyLinkButtonContainer {
  margin: auto;
}

.profileContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.profileNameContainer {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
}

.profileName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
  margin: auto;
}

.profileButtonContainer {
  margin: auto;
}

.logoContainer:hover {
  cursor: pointer;
}

.aboutLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.contactLink:hover {
  cursor: pointer;
  text-decoration: underline;
}
