.sideNavContainer {
  flex-grow: 1;
  overflow-y: scroll;
  border-bottom: 1px solid rgb(224 224 224);
}

.titleContainer {
  height: 2.5rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.playlistContainer {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.buttonContainer {
  display: flex;
  height: 10%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(224 224 224);
}
