.iconContainer {
  display: flex;
}

.Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 25px;
  color: #757575;
}

.Icon:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  color: #556cd6;
}

.spotifyIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 25px;
  color: #757575;
}

.spotifyLoadedIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 25px;
  color: #1dd661;
}

.spotifyIcon:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  color: #1dd661;
}

.loadingIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 25px;
}

.errorIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 25px;
  color: red;
}
